# Project specific
petri-gen.hpp
graph-event-gen.jl
petri-gen.gv
petri-gen.tex
petri-gen.pdf
petri-gen.drawio.xml
petri-gen.yaml
petri-gen.pns
grafcet-gen.hpp
petri.json
build/
doc/coverage/

# Visual Studio code
.vscode

# LaTeX
*.aux
*.dvi
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Linux
*~

# OS X
.DS_Store
